<div *ngIf="game">
    <div class="game-card">
        <div class="card-header">
            <div class="avatar">
                <img [src]="'https:' + game.cover.url" alt="{{ game.name }}">
            </div>
            <div class="header-content">
                <h2 class="title">{{ game.name }}</h2>
                <p class="subtitle">{{ game.first_release_date }}</p>
            </div>
        </div>
        <div class="card-content">
            <p class="summary">{{ game.summary }}</p>
            <div class="characteristics-container">
                <div class="characteristic">
                    <span class="label">Mode(s) de jeu :</span>
                    <div class="chips">
                        <span *ngFor="let mode of game.game_modes; trackBy: trackByMode" class="chip">{{ mode.name }}</span>
                    </div>
                </div>
                <div class="characteristic">
                    <span class="label">Genre(s) :</span>
                    <div class="chips">
                        <span *ngFor="let genre of game.genres; trackBy: trackByGenre" class="chip">{{ genre.name }}</span>
                    </div>
                </div>
                <div class="characteristic">
                    <span class="label">Plateforme(s) :</span>
                    <div class="chips">
                        <span *ngFor="let platform of game.platforms; trackBy: trackByPlatform" class="chip">{{ platform.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advises">
        <h3>Comments</h3>
        <button class="primary-button" (click)="openReviewDialog()">Write a comment</button>
    </div>
    <div *ngFor="let advise of advices; trackBy: trackByAdvise" class="review-item">
        <p class="review-header">{{ advise.author }} </p>
        <p class="review-content">{{ advise.content }}</p>
        <div class="review-footer">
            <span>Rating: <span class="rating">{{ advise.note }} / 10</span></span>
        </div>
    </div>
    <ng-container *ngIf="showReviewDialog">
        <app-review-dialog
            [gameId]="gameId"
            [gameName]="gameName"
            (close)="closeReviewDialog()"
            (submit)="handleReviewSubmit($event)"
        ></app-review-dialog>
    </ng-container>
</div>
